@import 'constants';
@import 'global-classes';
@import 'clamp';

article {
    header {
        background-color: #eee;
    }

    section {
        header {
            background-color: #fff;
        }

        footer {
            background-color: #fff;
        }
    }

    section#who-am-i {
        header {
            h1 {
                font-family: $monospace-font-stack;
                text-transform: lowercase;
                word-spacing: -.5em;
            }
            h1:before {
                word-spacing: 0em;
                content: "$\00a0";
            }
            h1:after {
                content: "_";
                text-decoration: blink;
            }
        }
    }
}
