header {
    nav {
        ul {
            li:before {
                content: "\~/";
            }
        }
    }
}

footer {
    nav {
        ul {
            li:before {
                content: "\~/";
            }
        }
    }
}